body {
  background-color: rgb(247, 247, 247);
}

h1,
.top-card .card-text {
  color: #fff;
}
.card-footer,
.card-header {
  display: none;
}

.container {
  max-width: 1220px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 80;
}
.card.top-card.text-center {
  height: 100vh;
}

.top-card .card-body {
  padding: 300px;
}
.top-card .card-body {
  background-image: url(assets/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-body-container {
  width: 55%;
  margin: auto;
}

.card.mix {
  height: 850px;
  position: relative;
}

.card-img-top {
  box-shadow: 10px 10px 5px grey;
}

.card.service {
  width: 95%;
  height: 520px;
  margin: 25px;
}

.mixes-container {
  padding: 60px;
}

#about.container {
  padding: 220px 0px;
  color: #fff;
}
.about-container {
  background-image: url(assets/blackandwhite.png);
  filter: opacity(95%);
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px grey;
}

.services-container {
  padding: 60px;
  background-color: #4b4b4b;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ffffff, #4b4b4b),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      9px,
      transparent 18px,
      transparent 9px
    );
  background-blend-mode: multiply;
  box-shadow: 10px 10px 5px grey;
  color: #fff;
}
.card.service .card-body {
  color: #000;
}

.contact-container {
  padding: 60px;
}

.fab {
  margin: 5px;
}
@media only screen and (max-width: 600px) {
  .about-container,
  .mixes-container,
  .services-container,
  .contact-container {
    padding: 10px;
  }
  .top-card .card-body {
    padding: 0;
    height: 100vh;
  }

  #about.container {
    padding: 0px;
  }
}
